<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="ausweisapp2" />
   <package id="chocolatey" />
   <package id="choco-package-list-backup" />
   <package id="dotnetfx" />
   <package id="Firefox" />
   <package id="firefoxpwa" />
   <package id="InkScape" />
   <package id="keepass" />
   <package id="microsoft-windows-terminal" />
   <package id="nordvpn" />
   <package id="notepadplusplus" />
   <package id="powertoys" />
   <package id="onedrive" />
   <package id="signal" />
   <package id="spotify" />
   <package id="telegram" />
   <package id="vlc" />
   <package id="vscode" />
   <package id="vscode-codespellchecker" />
   <package id="vscode-codespellchecker-german" />
   <package id="vscode-intellicode" />
   <package id="vscode-jupyter" />
   <package id="vscode-python" />
   <package id="vscode-remote-development" />
   <package id="vscode-remote-ssh" />
   <package id="wezterm" />
   <package id="wsl2" />
   <package id="zoom" />
</packages>
