[submodule "submodules/powerlevel10k"]
	path = submodules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "submodules/fast-syntax-highlighting"]
	path = submodules/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
