% Keybindings

setkey goto_percent         "%"
setkey goto_mark            ","
setkey search_forward       "/"
setkey extended_key         ":"
setkey search_backward      "?"
setkey eob                  "G"
setkey bob                  "T"
setkey edit                 "e"
setkey help                 "H"
setkey find_next            "n"
setkey up                   "k"
setkey up                   "<Up>"
setkey down                 "j"
setkey down                 "<Down>"
setkey column_right         "l"
setkey column_right         "<Right>"
setkey column_left          "h"
setkey column_left          "<Left>"
setkey page_up              "^U"
setkey page_down            "^D"
setkey show_time            "^T"
setkey suspend              "^Z"
setkey goto_line            "g"
setkey set_mark             "m"
setkey other_window         "o"
setkey redraw               "r"
setkey toggle_width         "w"
setkey exit                 "q"
setkey delete_window        "x"
