# top-most EditorConfig file setting Defaults
root = true

# Default options for most languages
# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Tabs as 4 Space characters
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

# Tab indentation for Makefile
[Makefile]
indent_style = tab
